{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block title %}
    DesireGallery :: Post
{% endblock %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{% static "gallery/css/rating.css" %}"/>
{% endblock %}

{% block content %}
    <section class="full_post">
        <p>Loaded {{ post.timestamp|naturaltime }}</p>
        <img src="{{ post.image.url }}" alt="{{ post.image.name }}"/>
    </section>

    <section>
        <div class="starrating risingstar d-flex justify-content-end flex-row-reverse">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
        </div>
    </section>

    <section class="comments-block">
        <h1>Comments</h1>
        <form method="POST" action="/gallery/post/{{ post.pk }}/" class="comment-form">
            {% csrf_token %}
            <span class="comment-form-dynamic">{{ comment_form|crispy }}</span>
            <span class="input-group-btn">
                <button id="send-comment" type="submit" class="btn btn-default comment-form-submit">Send</button>
            </span>
        </form>
        {% for comment in post.comments.all %}
            <div class="comment-item">
                <p class="comment-timestamp">{{ comment.timestamp }}</p>
                <p class="comment-text">{{ comment.comment_text }}</p>
            </div>
        {% empty %}
            <p>There are no comments yet. Add the first one.</p>
        {% endfor %}
    </section>
{% endblock %}