{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '../static/gallery/style.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DesireGallery :: Home</title>
    </head>
    <body>
    <div id="header">
        <h1><a href="/gallery">DesireGallery</a></h1>
    </div>
    <div id="main">
        <table>
            <tr>
                {% for post in posts %}
                    <td><a href="/gallery/post/{{ post.pk }}/">{{ post.timestamp }}</a></td>
                    {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    </body>
</html>